<h1>{{encabezado}} </h1>

<h3>Bienvenido al servidor. ingrese a "/api/sessions/" para poder registrarse o iniciar sesion.</h3><br>
<h4>Inicie sesion o Registrese aquí</h4>
<button onclick="sesiones()">Endpoint /api/sessions</button><br><br>
<button onclick="chat()">Chat de usuarios</button><br>
<button onclick="products()">Endpoint /api/products</button><br>
<button onclick="users()">Endpoint /api/users</button><br>
<button onclick="carts()">Endpoint /api/carts</button><br>
<button onclick="tickets()">Endpoint /api/tickets</button><br>
<br>
<h3>A los siguientes endpoints, solo se le permitira el ingreso a usuarios REGRISTRADOS</h3>
<label for="productosAdmin">Para cargar o eliminar productos (SOLO ADMIN y PREMIUM)</label>
<button name="productosAdmin" onclick="productosAdmin()">Endpoint /api/products/admin</button><br>

<label for="productosUser">Vista de productos para USER</label>
<button name="productosUser" onclick="productosUser()">Endpoint /home</button><br>


<script> 
    const url = window.location.origin
function sesiones(){
    const url2 = url + `/api/sessions/` 
    window.location.href = url2
}
function chat(){
    const url2 = url + `/chat/` 
    window.location.href = url2
}
function products(){
    const url2 = url + `/api/products/` 
    window.location.href = url2
}
function users(){
    const url2 = url + `/api/users/` 
    window.location.href = url2
}
function tickets(){
    const url2 = url + `/api/tickets/` 
    window.location.href = url2
}
function productosAdmin(){
    const url2 = url + `/api/products/admin/` 
    window.location.href = url2
}
function productosUser(){
    const url2 = url + `/home/` 
    window.location.href = url2
}
function carts(){
    const url2 = url + `/api/carts/` 
    window.location.href = url2
}
</script>